In [18]:
import math
import pandas as pd

def itermeth(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of e^x and stores the results in a pandas DataFrame.

    Args:
        x: The value for which to calculate the approximation.
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, true error, and absolute error.
    """
    
    # initialization
    iter = 1
    sol = 1
    ea = 100
    data = {'sol': [], 'et': [], 'ea': []}

    # iterative calculation
    while True:
        sol_old = sol
        sol = sol + x**iter / math.factorial(iter)
        iter = iter + 1
        if sol != 0:
            ea = abs((sol-sol_old)/sol)*100
            et = abs((math.exp(x)-sol)/math.exp(x))*100

        data['sol'].append(sol)
        data['et'].append(et)
        data['ea'].append(ea)
        
        if ea < es or iter == maxit:
            break
        fx = sol

    return pd.DataFrame(data)

In [19]:
itermeth(0.5, 1e-10, 10)

        sol            et            ea
0  1.500000  9.020401e+00  3.333333e+01
1  1.625000  1.438768e+00  7.692308e+00
2  1.645833  1.751623e-01  1.265823e+00
3  1.648438  1.721156e-02  1.579779e-01
4  1.648698  1.416494e-03  1.579529e-02
5  1.648720  1.002380e-04  1.316257e-03
6  1.648721  6.219691e-06  9.401828e-05
7  1.648721  3.435490e-07  5.876142e-06
8  1.648721  1.709672e-08  3.264523e-07

In [20]:
import math
import pandas as pd


def cos_series(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of cos(x) using the McLaurin series.

    Args:
        x: The value for which to calculate the cosine approximation (in radians).
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, and absolute error.
    """

    data = {'sol': [], 'et': [], 'ea': []}
    iter = 0
    sol = 1.0  # Initialize solution to 1
    sign = 1.0  # Initialize sign for alternating series

    while True:
        term = sign * (x**iter / math.factorial(iter))
        sol += term
        iter += 1
        sign *= -1  # Alternate sign for next term

        if iter > 0:  # Calculate absolute error only after first iteration
            ea = abs(term / sol) * 100

        data['sol'].append(sol)
        data['et'].append(abs((math.cos(x) - sol) / math.cos(x)) * 100)
        data['ea'].append(ea if iter > 0 else None)  # Avoid division by zero

        if ea < es or iter == maxit:
            break

    df = pd.DataFrame(data)
    return df

In [21]:
cos_series(5)

          sol           et          ea
0    2.000000   605.064017   50.000000
1   -3.000000  1157.596026  166.666667
2    9.500000  3249.054082  131.578947
3  -11.333333  4095.362764  183.823529
4   14.708333  5085.158293  177.053824
5  -11.333333  4095.362764  229.779412
6   10.368056  3555.071450  209.310114
7   -5.132937  1909.524417  301.990723
8    4.555184  1505.848000  212.683418
9   -0.827105   391.581121  650.737989
10   1.864039   557.133440  144.371676
11   0.640792   125.899549  190.896305
12   1.150478   305.580337   44.302145
13   0.954445   236.472341   20.538983
14   1.024457   261.153768    6.834049
15   1.001119   252.926626    2.331120
16   1.008412   255.497608    0.723207
17   1.006267   254.741437    0.213161
18   1.006863   254.951484    0.059176
19   1.006706   254.896208    0.015575
20   1.006746   254.910027    0.003894
21   1.006736   254.906737    0.000927
22   1.006738   254.907485    0.000211
23   1.006738   254.907322    0.000046

In [22]:
import math
import pandas as pd


def sin_series(x, es=1e-4, maxit=50):
    """
    This function iteratively calculates an approximation of sin(x) using the McLaurin series.

    Args:
        x: The value for which to calculate the sine approximation (in radians).
        es: The desired absolute error tolerance (default: 1e-4).
        maxit: The maximum number of iterations allowed (default: 50).

    Returns:
        A pandas DataFrame containing the iteration number, solution, and absolute error.
    """

    data = {'sol': [], 'et': [], 'ea': []}
    iter = 0
    sol = 0.0  # Initialize solution to 0 (first term)
    sign = 1.0  # Sign for alternating terms

    while True:
        term = sign * (x**(2*iter + 1) / math.factorial(2*iter + 1))
        sol += term
        iter += 1
        sign *= -1  # Alternate sign for next term

        if iter > 0:  # Calculate absolute error only after first iteration
            ea = abs(term / sol) * 100

        data['sol'].append(sol)
        data['et'].append(abs((math.sin(x) - sol) / math.sin(x)) * 100)
        data['ea'].append(ea if iter > 0 else None)  # Avoid division by zero

        if ea < es or iter == maxit:
            break

    df = pd.DataFrame(data)
    return df

In [23]:
sin_series(5)

          sol           et           ea
0    5.000000   621.417606   100.000000
1  -15.833333  1551.155754   131.578947
2   10.208333  1164.560946   255.102041
3   -5.292659   451.937089   292.877226
4    0.089630   109.346951  6004.996157
5   -1.133617    18.217604   107.906564
6   -0.937584     2.225434    20.908339
7   -0.960921     0.208261     2.428637
8   -0.958776     0.015424     0.223720
9   -0.958933     0.000927     0.016351
10  -0.958924     0.000046     0.000973
11  -0.958924     0.000002     0.000048